::selection {background: transparent;}
body{
	margin: 0;
	overflow-y: hidden;
}
p{margin: 0; font: 12px/150% Arial; text-align: center; color: #888;}
p a{color: #888;}
#header {
	width: 100%;
	height: 20vh;
	background-color: orange;
	position: relative;
}
#dashboard {
	width: 100%;
	height: 100vh;
	background-color: #41c2f7a8;
	position: relative;
}

#puzzle{
	position: absolute;
	width: 325px;
	height: 325px;
	margin: 80px auto auto 37vw;
	/* margin-left: 40%; */
	text-align: center;
	margin-top: 80px;
	border: 8px solid rgb(168,168,168, 0.5);
	border-radius: 4px;
}
#puzzle span{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 4px;
}
#puzzle span.number{
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #000000;
}
#puzzle span.empty{background: transparent;}
#puzzle span.number.light{background: white;border: 2px lightslategray;}

#puzzle.animate span{
	-webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
}

#descrpt {
	position: absolute;
    margin: 50px;
    padding: 15px;
    font-weight: bolder;
    font-size: 20px;
}

#difficulty {text-align: center; }

#difficulty button{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	/* margin: 500px 2px; */
	margin-top: 450px;
	margin-right: 10px;
	border: 0;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
	position: relative;
}

#controls{display: block;}


#controls #undo{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	/* margin: 110px 2px; */
	margin-top: 200px;
	margin-left: 50px;
	border: 0;
	display: block;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
	position: absolute;
	width: 140px;
}
#controls #solve{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	/* margin: 110px 2px; */
	margin-top: 330px;
	margin-left: 50px;
	border: 0;
	display: block;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
	position: absolute;
	width: 140px;
}
#controls #newgame{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	/* margin: 50px 2px; */
	margin-top: 265px;
	margin-left: 50px;
	border: 0;
	display: block;
	border-radius: 4px;
	background: #001F1F;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
	position: absolute;
	width: 140px;
}
#controls button:hover{background: #003333;}

#moves_detail {
	position: absolute;
	width: 325px;
	height: 325px;
	float: right;	
	margin-top: 80px;
	display: block;
	margin-left: 70%;
    background: #28dcf5;
	border: 2px;
	border-radius: 25px;
}

#moves_detail #move_header {
	font-weight: 800;
	font-size: 22px;
	color: blue;
	padding: 20px;
}

#moves_detail #move_desc {
	padding-left: 30px;
    padding-top: 10px;
	line-height: 25px;
}